Repository playframework/playframework, pull requests merged in 2018-09, with the labels that each got.

#8590 Update akka 2.5.16
  framework/project/Dependencies.scala
  framework/src/play-integration-test/src/test/scala/play/it/libs/JavaWSSpec.scala
  framework/src/play-streams/src/test/scala/play/api/libs/streams/AccumulatorSpec.scala
  framework/src/play-streams/src/test/scala/play/libs/streams/AccumulatorSpec.scala
Labels: type:updates

#8596 DocumentationHandler small typo
  framework/src/play-docs/src/main/scala/play/docs/DocumentationHandler.scala
Labels: status:needs-backport, topic:documentation

#8591 Document how to upgrade Akka manually
  documentation/manual/working/javaGuide/main/akka/JavaAkka.md
  documentation/manual/working/javaGuide/main/akka/code/javaguide.akkaupdate.sbt
  documentation/manual/working/scalaGuide/main/akka/ScalaAkka.md
  documentation/manual/working/scalaGuide/main/akka/code/scalaguide.akkaupdate.sbt
Labels: status:needs-backport, topic:documentation

#8487 Simplify ReloadableServer interface
  documentation/manual/releases/release27/migration27/Migration27.md
  documentation/manual/working/commonGuide/build/SBTCookbook.md
  documentation/manual/working/commonGuide/build/code/runhook.sbt
  framework/project/BuildSettings.scala
  framework/src/build-link/src/main/java/play/core/server/ReloadableServer.java
  framework/src/play-docs-sbt-plugin/src/main/scala/com/typesafe/play/docs/sbtplugin/PlayDocsPlugin.scala
  framework/src/play-server/src/main/scala/play/core/server/Server.scala
  framework/src/run-support/src/main/scala/play/runsupport/Reloader.scala
  framework/src/run-support/src/main/scala/play/runsupport/RunHook.scala
  framework/src/sbt-plugin/src/main/scala/play/sbt/PlayRunHook.scala
Labels: type:breaks-compatibility

#8602 Remove the mention of Scala in java testing docs
  documentation/manual/working/javaGuide/main/tests/JavaTest.md
Labels: status:needs-forwardport, topic:documentation

#8597 Update Akka HTTP to 10.1.5
  framework/project/Dependencies.scala
Labels: type:updates

#8610 Add note about Hibernate Validator compatibility
  documentation/manual/releases/release27/migration27/Migration27.md
Labels: topic:documentation

#8612 Remove deprecated APIs usage from docs
  documentation/build.sbt
  documentation/manual/working/javaGuide/main/async/code/javaguide/async/JavaComet.java
  documentation/manual/working/javaGuide/main/http/code/javaguide/http/JavaBodyParsers.java
  documentation/manual/working/javaGuide/main/http/code/javaguide/http/JavaErrorHandling.scala
  documentation/manual/working/javaGuide/main/http/code/javaguide/http/JavaResponse.java
  documentation/manual/working/javaGuide/main/tests/code/javaguide/tests/MockitoTest.java
  documentation/manual/working/javaGuide/main/upload/code/JavaFileUpload.java
  documentation/manual/working/javaGuide/main/upload/code/JavaFileUploadTest.java
  documentation/manual/working/scalaGuide/advanced/embedding/code/ScalaAkkaEmbeddingPlay.scala
  documentation/manual/working/scalaGuide/advanced/routing/code/ScalaSimpleRouter.scala
  documentation/manual/working/scalaGuide/advanced/routing/code/ScalaSirdRouter.scala
  documentation/manual/working/scalaGuide/main/application/code/ScalaHttpRequestHandlers.scala
  documentation/manual/working/scalaGuide/main/dependencyinjection/code/CompileTimeDependencyInjection.scala
  documentation/manual/working/scalaGuide/main/dependencyinjection/code/RuntimeDependencyInjection.scala
  documentation/manual/working/scalaGuide/main/http/code/ScalaRouting.scala
  documentation/manual/working/scalaGuide/main/json/code/ScalaJsonHttpSpec.scala
  documentation/manual/working/scalaGuide/main/tests/code/specs2/ScalaFunctionalTestSpec.scala
  documentation/manual/working/scalaGuide/main/ws/code/ScalaWSSpec.scala
Labels: topic:documentation

#8614 Fix PhantomReference approach for TempFileCreator.
  framework/src/play/src/main/scala/play/api/libs/Files.scala
Labels: enhancement, status:needs-backport

#8619 Add longer explanation about allowGlobalApplication change
  documentation/manual/releases/release27/migration27/Migration27.md
Labels: topic:documentation

#8617 Fix incomplete sentence in JPA doc
  documentation/manual/working/javaGuide/main/sql/JavaJPA.md
Labels: topic:documentation

#8618 [2.6.x] Fix incomplete sentence in JPA doc
  documentation/manual/working/javaGuide/main/sql/JavaJPA.md
Labels: status:needs-forwardport, topic:documentation

#8620 Explain how to configure logging when embedding Play servers
  documentation/manual/working/scalaGuide/advanced/embedding/ScalaEmbeddingPlayAkkaHttp.md
  documentation/manual/working/scalaGuide/advanced/embedding/ScalaEmbeddingPlayNetty.md
  documentation/manual/working/scalaGuide/advanced/embedding/code/ScalaAkkaEmbeddingPlay.scala
  documentation/manual/working/scalaGuide/advanced/embedding/code/ScalaNettyEmbeddingPlay.scala
  documentation/manual/working/scalaGuide/advanced/embedding/code/embedded.sbt
Labels: topic:documentation

#8320 java versions of runningHttpPort/runningHttpsPort methods added to Te…
  documentation/manual/working/javaGuide/main/tests/code/javaguide/tests/ServerFunctionalTest.java
  framework/src/play-test/src/main/java/play/test/Helpers.java
  framework/src/play-test/src/main/java/play/test/TestServer.java
  framework/src/play-test/src/test/java/play/test/TestServerTest.java
Labels: enhancement, status:needs-backport, topic:java-api

#8627 Use `Long` consistently to define body parser buffer length
  documentation/manual/releases/release27/migration27/Migration27.md
  framework/project/BuildSettings.scala
  framework/src/play/src/main/java/play/mvc/BodyParser.java
  framework/src/play/src/main/scala/play/api/http/HttpConfiguration.scala
  framework/src/play/src/main/scala/play/api/mvc/BodyParsers.scala
  framework/src/play/src/main/scala/play/core/parsers/Multipart.scala
  framework/src/play/src/test/scala/play/api/http/HttpConfigurationSpec.scala
  framework/src/play/src/test/scala/play/api/mvc/RawBodyParserSpec.scala
  framework/src/play/src/test/scala/play/mvc/RawBodyParserSpec.scala
Labels: enhancement, topic:scala-api

#8623 Update play-ws to version 2.0.0-M4
  framework/project/Dependencies.scala
  framework/src/play-ahc-ws/src/main/java/play/libs/ws/ahc/AhcWSRequest.java
  framework/src/play-ahc-ws/src/main/scala/play/api/libs/ws/ahc/AhcWSRequest.scala
  framework/src/play-ahc-ws/src/test/scala/play/api/libs/ws/ahc/AhcWSSpec.scala
  framework/src/play-integration-test/src/test/scala/play/it/libs/ScalaWSSpec.scala
Labels: type:updates

#8626 Fail docs validation when using deprecated APIs
  documentation/build.sbt
  framework/src/play-test/src/main/java/play/test/TestServer.java
Labels: topic:documentation

#8635 Missing hyperlinks to ScalaTest and specs2 pages
  documentation/manual/working/javaGuide/main/tests/JavaTestingWithDatabases.md
Labels: status:needs-forwardport, topic:documentation

#7955 Update SecureFlagSpec to test HTTP/2
  framework/src/play-integration-test/src/test/scala/play/it/http/SecureFlagSpec.scala
Labels: status:work-in-progress

#8641 Doc for `JsonHttpErrorHandler`
  documentation/manual/working/javaGuide/main/application/JavaErrorHandling.md
  documentation/manual/working/scalaGuide/main/http/ScalaErrorHandling.md
  framework/src/play/src/main/scala/play/api/http/HttpErrorHandler.scala
Labels: ready

#8637 Update heroku deploying docs (declaring java version)
  documentation/manual/working/commonGuide/production/cloud/ProductionHeroku.md
Labels: in progress, status:needs-backport, topic:documentation

#8643 Revert "Corrected SBT Cross-Building command (#8613)"
  documentation/manual/hacking/BuildingFromSource.md
Labels: in progress
