Repository playframework/playframework, pull requests merged in 2019-06, with the labels that each got.

#9369 Fix sbt version parsing for RC and M versions
  dev-mode/sbt-plugin/src/main/scala-sbt-1.0/play/sbt/run/PlayRunCompat.scala
Labels: status:needs-backport, status:needs-backport-2.6, topic:sbt

#8955 Changed two references of SecurityHeaders
  documentation/manual/working/commonGuide/filters/SecurityHeaders.md
Labels: status:needs-forwardport, topic:documentation

#9374 Add new script to do basic validations locally
  CONTRIBUTING.md
  scripts/local-pr-validation.sh
Labels: topic:build/tests

#9376 Remove strict behavior from Mergify
  .mergify.yml
  .travis.yml
Labels: topic:build/tests

#8595 Update ScalaFileUpload with tips for CSRF
  documentation/manual/working/scalaGuide/main/upload/ScalaFileUpload.md
Labels: status:needs-forwardport, topic:documentation

#7118 reference messages.default in ScalaI18N.md
  documentation/manual/working/scalaGuide/main/i18n/ScalaI18N.md
  project/Docs.scala
Labels: topic:documentation

#9381 Revert "Remove strict behavior from Mergify"
  .mergify.yml
  .travis.yml
Labels: topic:build/tests

#9389 Correctly encode the key of URL params when redirecting
  core/play/src/main/scala/play/api/mvc/Results.scala
  core/play/src/test/scala/play/api/mvc/ResultsSpec.scala
Labels: status:needs-backport, type:defect

#9427 Use Scala 2.13.0 in 2.7 highlights
  documentation/manual/releases/release27/Highlights27.md
Labels: status:needs-backport, topic:documentation
